.main-container {
    margin-top: calc(50vh - 256px);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height: 512px;
    width: 100%;
}

.main-container .elem {
    flex: 1 1 44%;
}

#mainDiv{
    font-family: serif;
    font-size: 12px;
    color: darkgrey;
}