* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3f3f3f;
    color: #eee;
  }

  h1 {
    margin-bottom: 3.5rem;
  }
  
  @media only screen and (min-width: 64.063em) {
    .chart-container {
      min-width: 64.063rem;
      width: 80vw;
    }
  }